# Ambiente Python local
.venv/
venv/
env/

# Bytecode e caches
__pycache__/
*.py[cod]
*$py.class
.pytest_cache/
.mypy_cache/
.ruff_cache/

# Jupyter
.ipynb_checkpoints/

# SO / editor
.DS_Store
Thumbs.db
*.swp
*~
.idea/
.vscode/
